.admin{
    background-color: violet;
}

img{
    margin: 10px;
    width: 225px;
}

h2{
    text-align: center;
    color: white;

}

p{
    text-align: center;
    color: white;
}

.pages{
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.pages a{
    text-decoration: none;
    height: 40px;
    padding-left: 10px;
    text-align: center;
    color: black;
    padding-top: 20px;

}

.pages a:hover{
    background-color: rgb(231, 196, 217);
    padding-left: 10px;
    box-shadow: 4px 5px 5px wheat;
}

.tools{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tools a{
    text-decoration: none;
    height: 40px;
    padding-left: 10px;
    text-align: center;
    color: black;
    padding-top: 20px;

}

.tools a:hover{
    background-color: rgb(231, 196, 217);
    padding-left: 10px;
    box-shadow: 4px 5px 5px wheat;

}

mat-icon{
    vertical-align: middle;
    padding: 5px;
}