<div class="admin">
    <img src="https://i.makeagif.com/media/2-02-2016/-1_kLz.gif"width="100%" alt="">
    <h2>Vinu</h2>
    <p>vinu@gmail.com</p>
</div>

<mat-divider></mat-divider>

<div class="pages">
    <h3>Pages</h3>
    <a routerLink="" >Dashboard</a>
    <a routerLink="gallery" href="">Gallery</a>
    <a routerLink="employees" >Elements</a>
</div>


<mat-divider></mat-divider>

<div class="tools">
    <h3>Tools</h3>
    <a routerLink="add-employee"> <mat-icon>person_add </mat-icon> Add Element</a>
    <a routerLink="lead"><mat-icon>person_add </mat-icon> Add Atomic Weight</a>
    <a routerLink="lead"><mat-icon>person_add </mat-icon> Add Symbol</a>
</div>